
POINT-VR-Chapter-1/Assets/StreamingAssets/SteamVR.meta
POINT-VR-Chapter-1/Assets/TextMesh Pro/Fonts/Font_SpaceGrotesk/SPACEGROTESK-MEDIUM SDF.asset
POINT-VR-Chapter-1/ProjectSettings/ProjectSettings.asset
POINT-VR-Chapter-1/ProjectSettings/EditorBuildSettings.asset
POINT-VR-Chapter-1/Assets/StreamingAssets/SteamVR.meta
POINT-VR-Chapter-1/Assets/StreamingAssets.meta
